cat > .gitignore << 'EOF'
# Секреты
kaggle.json

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Большие файлы / модели
*.pth
*.zip
*.h5
diploma_*/
/tmp/

# macOS
.DS_Store
EOF

#test videos 
test.mp4

#presentation
diploma_present.pptx
presentation_practical_part.md
~$diploma_present.pptx